.btn-secondary
  @include button-variant($white, $blue, $active-background: $blue)

.formresponse-list
  .chart
    margin-bottom: 2em
    width: 100%

  #allTimeChart
    height: 400px

  @import "./punchard"


