.punch-card
  width: 100%

  tbody td, tfoot th
    width: 4%
    position: relative
    text-align: center

  tbody td:hover::before
    min-width: 120px
    display: block
    content: attr(title)
    position: absolute
    top: 100%
    left: 100%
    z-index: 2
    background: darken($blue, 50)
    color: white
    border-radius: 5px
    padding: 0.5em
    font-size: smaller

  th
    font-weight: normal
    font-size: smaller
    color: grey

  .blob
    background: $blue
    border-radius: 50%
    margin: auto auto

  td:after
    content: ''
    display: block
    margin-top: 100%

  td div
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0


  tr:not(:last-child)
    border-bottom: 1px solid lightgrey


  tr:nth-child(7)
    border-bottom: none

